FreeRADIUS doesn't protect against identity spoofing in NASes and other systems via the outer identity

Many firewalls and Web filtering platforms have become identity aware and have started using either RADIUS accounting information, Syslog snooping or SNMP information for Single-Sign-On (SSO) purposes. Usually this is based on the outer identity as this is typically what a NAS is privy to.

Examples of such are:

**Check Point**
https://sc1.checkpoint.com/documents/R76/CP_R76_IdentityAwareness_AdminGuide/62050.htm#o100097

**Fortinet**
http://docs.fortinet.com/uploaded/files/1279/fortiauthenticator-radius-accounting-proxy-guide.pdf

**Palo Alto**
https://paloaltonetworks.com/content/dam/paloaltonetworks-com/en_US/assets/pdf/tech-briefs/techbrief-user-id.pdf

**Websense**
https://www.websense.com/content/support/library/web/v77/radius_agent/first.aspx

With these systems, as they exist today, for them to function yet remain secure it is necessary either that:

1) The EAP terminating RADIUS server returns the User-Name attribute with the client’s real identity AND that all the NASes support processing this attribute.
-else-
2) The EAP terminating RADIUS server mandates that the user portion of the EAP outer-identity and the user portion of the EAP inner-identity acceptably 'match', prohibiting the use of anonymous EAP outer-identities.

As these systems exist and are being used, it would be highly beneficial for EAP terminating FreeRADIUS instances to **by default** constrain the outer identity so that in the least:
The **user portion** of the identity must either have the value empty string (where there is no realm) or anonymous... OR... the user portion of the outer must equal the user portion of the inner.

This would fix the identity spoofing attack, assuming of course that a genuine user with the username anonymous does not exist (I think that is acceptable!). It forces EAP identity privacy use to be explicit and it would, therefore, be inherently obvious where the identity has not been handled properly.

Is there any chance of doing this in FreeRADIUS by default to avoid trivially security vulnerable deployments from happening?

Is there any reason to not constrain the outer identity this way, by default, to force all identity privacy use to be explicit to everything that is not privy to the inner identity?

> 1) The EAP terminating RADIUS server returns the User-Name attribute with the client’s real identity AND that all the NASes support processing this attribute.

The RADIUS server should return the client's "real identity" only when the RADIUS packets are are sent within one network.  Otherwise, it can leak information about the users identity to third-party networks.  That's what Chargeable-User-Identity is for.

Most NASes should support User-Name in Access-Accept.  It's been in the specifications since RFC 2058, IIRC.

> The EAP terminating RADIUS server else mandates that the EAP outer-identity and EAP inner-identity refer to the same discrete user, prohibiting the use of anonymous EAP outer-identities.

See https://tools.ietf.org/html/rfc7542.  The outer name should be "anonymous", or "@example.com".  The only checks which can be done are that the *realm* for the inner and outer identities are the same.

Having an empty User-Name is forbidden in RADIUS.

`"%{outer.request:User-Name}" != "%{User-Name}"`  That check will pretty much always return "not equal".

The configuration which helps and isn't wrong is:

* if no outer realm, inner User-Name can be anything
* if there is an outer realm, the inner User-Name MUST either
  * have no realm
 * have a realm which has the same suffix as the outer realm

Note that we don't say the realms have to "match".  The outer realm can be `@example.com`, and the inner realm can be `@secure.example.com`.  See Section 2.4 of RFC 7542, and the comments on "sensitive" portions of the NAI.

Hi Alan,

I strongly agree with your point about Chargeable-User-Identity and what you say about leaking the inner identity in the User-Name AVP of an Access-Accept. There is absolutely no debate there.

That is why I qualified what I said with:

 "In these systems, **as they exist today, for them to function yet remain secure** it is necessary either that:"

The concern here is the user portion (not the realm), ensuring that where identity privacy is being used, the user portion of the outer is not something other than anonymous, or an empty string in the case that there's qualification with a realm. 

At the moment, anything can be supplied in the user portion of the outer where there's an inner identity which causes identity spoofing issues in other systems.

Cheers,

Nick

The purpose of the default policies is to implement behaviour which has not been standardised, but is  appropriate for the majority of deployments.

The default policies @nicklowe is proposing may not be appropriate for every deployment, but in altering the default configuration to restrict the outer identity and inner identity to the same value (or outer identity to anonymous@<inner realm>), we'd at least force administrators to consider the impacts of allowing arbitrary outer identities, if they found they needed to disable the policy.

This isn't about what's required by the standards, it's about having sensible default policies, informed by real world use cases and exploits.



Yes, this isn't about what the standards say, by the book.

To me, it seems a simple, sensible default:

The user portion of the outer identity should be mandated to be anonymous or an empty string, the latter only where qualified with a realm. This gives an explicit request/intent for identity privacy, spoofing is not possible based on these values.

Where identity privacy is not being used, the user portion of the outer and inner identity should match exactly, so spoofing is not possible.

> The user portion of the outer identity should be mandated to be anonymous or an empty string, the latter only where qualified with a realm

Please read RFC 7542.  It goes through the requirements in detail.  Including agreement between outer and inner User-Names, which it calls NAIs.

> This gives an explicit request/intent for identity privacy, spoofing is not possible based on these values.

This behavior is recommended by RFC 7542.  Please read it.

> Where identity privacy is not being used, the user portion of the outer and inner identity should match exactly, so spoofing is not possible.

The problem is it's difficult to tell when identity privacy *should* be used.  The only safe approach is to *always* have identity privacy.  Again, RFC 7542 goes through this in detail.

The rules I described earlier can be extended.  The place to do these checks (including the checks on outer User-Name) is inside of the tunnel.  Otherwise, people will apply the limitations to the "outer" User-Name for methods like EAP-MD5, which makes no sense.

* if there is no outer realm
  *  The outer User-Name SHOULD "anonymous".  Otherwise, `reject`
  * inner User-Name can be anything
* if there is an outer realm
  * The outer "user" portion SHOULD be "anonymous" or empty, otherwise `reject`
  * the inner realm MUST be either be empty, identical to the outer realm, OR be the suffix of the outer realm

Some examples:

Outer      |   Inner      | result
------------ | -------------|--------
anonymous | bob@example.com | allowed
anonymous | bob | allowed
bob | bob | allowed - names are identical
bob | doug | reject - outer is not "anonymous"
bob@example.com | bob@example.com | allowed - names are identical
bob@example.com | bob@secure.example.com | reject - names are different
bob | doug@example.com | reject - names are different
`@example.com` | bob@example.com | allowed - also with outer anonymous@...
`@example.com` | bob | allowed-  also with outer anonymous@...
`@example.com` | bob@secure.example.com | allowed - also with outer anonymous@...
`@example.com` | doug@example.net | reject - different realms
`@sales.example.com` | doug@sales.example.com | allowed - realms are identical - also with outer anonymous@...
`@sales.example.com` | doug@secure.example.com | reject - realms are different

That should be most, if not all, examples.

Yes, of course any checks must only take place inside the inner tunnel.

I think you're missing the intent of what I'm asking.

Taking your words verbatim:

**if there is an outer realm
The outer "user" portion SHOULD be "anonymous" or empty, otherwise reject
the inner realm MUST be either be empty, identical to the outer realm, OR be the suffix of the outer realm**

Can FreeRADIUS enforce this by default to prevent identity spoofing?

Nick

FreeRADIUS should satisfy all of the examples in the table I gave above.  This means not just the rules you quoted, but more.

My concern is to not just follow standards, but to not break existing systems.

As far as I can see, it doesn't.

In the default configuration, FreeRADIUS doesn't reject where the names are different.

<sigh>  Yes.  It doesn't do that right now.

It *should* do that.

Huge thanks and kudos for the amazingly quick patch.
Any chance of a backport to 3.0?

Done.  But disabled by default in 3.0.  We need to know if it breaks systems before enabling it by default